<div id="home">

  <h2>Find Fun Things To Do While Traveling</h2>
  <div id="search">
    {{#if error}}
    <div class="alert alert-danger">
      {{ error }}
    </div>
    {{/if}}
    <form class="server-form" method="post">
      <div class="form-group">
        <label for="search" id="searchLabel">Search for an Activity:</label>
        <input type="text" class="form-control" id="search" name="search" value="{{search}}">
        <button type="submit" class="btn btn-default" id="searchButton">Search</button>

      </div>
    </form>
  </div>


  {{#if results}}
  <div class="results">
    <h4>Search Results</h4>
    {{#each result}}
    <p><a href="/product/{{id}}">{{itemName}}</a></p>
    {{/each}}
  </div>
  {{/if}}

  <!-- SECTION FOR MOST POPULAR ITEMS -->
  {{#if popular}}
  <div id="popular">
    <h3>Most Popular Activities on our Website</h3>
    {{#each pop}}
    <p><a href="/product/{{id}}">{{itemName}}</a></p>
    {{/each}}
  </div>
  {{else}}
  <p>To view our most popular items, use our search function!</p>
  {{/if}}


</div>

</div>