<div class="row">
    <div class="col-sm-12">
        {{#if error }}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {{/if}}

    </div>
    {{#if product }}
    <div class="form-group">
        <img src="{{imagePath}}">
        <div class="alert alert-success">
            <dl>
                <dt>Item Name:</dt>
                <dd>{{itemName}}</dd>
                <dt>Description:</dt>
                <dd>{{description}}</dd>
                <dt>Price:</dt>
                <dd>{{price}}</dd>
            </dl>
        </div>
    </div>
    {{/if}}
    {{#if authenticated}}
    <form class="server-form" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-default">Add To Cart</button>
        </div>
    </form>
    {{/if}}
</div>